{% extends 'base.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block content %}
<h1 class="display-4">Profile</h1>
<hr>
<div style="max-width: 500px;">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Username</th>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <th scope="row">First Name</th>
                <td>{{user.first_name}}</td>
            </tr>
            <tr>
                <th scope="row">Last Name</th>
                <td>{{user.last_name}}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div>


<h2 class="mt-4">Feedback</h2>
<a href="/users/{{user.username}}/feedback/add" class="btn btn-success my-1">Add Feedback</a>

{% if feedback %}

<div id="feedback">
    {% for fb in feedback %}
    <div class="card my-2">
        <div class="card-body justify-content-left d-flex">
            <div>
                <form action="/feedback/{{fb.id}}/delete" method="POST">
                    <button class="btn btn-link link-danger"><i class="fa-solid fa-trash"></i></button>
                </form>
                <a href="/feedback/{{fb.id}}/update" class="btn btn-link link-info">
                    <i class="fa-solid fa-pen"></i>
                </a>
            </div>
            <div class="mx-3">
                <div>
                    <h5 class="card-title">{{fb.title}}</h5>
                    <p class="card-text">{{fb.content}}</p>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endif %}

<form action="/users/{{user.username}}/delete" method="POST">
    <button class="btn btn-outline-danger mt-4"><i class="fa-solid fa-trash"></i> <span class="mx-1">Delete User</span>
    </button>
</form>

{% endblock %}